body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.chatting{
    max-width: 100%;
    background-color: rgb(38, 109, 203);
    color: white;
    padding: 2px 7px;
}
.chatting-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatting-bd{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chatting-user-profile{
    display: flex;
    align-items: center;
}
.chatting-bd i{
    font-size: 30px;
    font-weight: 600;
}
.chatting-user h2{
    font-size: 17px;
}
.chatting-user{
    line-height: 18px;
}
.chatting-actions-1{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}
/*  */
.chatting-body{
    width: 100%;
}

/*  */
#chat-messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    height: 80vh;
    font-weight: 500;
    font-size: 18px;
  }
  
  /* Sender's message style (left aligned) */
  .sent {
    align-self: flex-end;
    background-color: #cae1ff;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
    width: 100%;
  }
  
  /* Receiver's message style (right aligned) */
  .received {
    align-self: flex-start;
    background-color: #f1f1f1;
    padding: 8px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
  }
  .timestamp {
    font-size: 0.8em;
    color: rgb(90, 90, 90);
    margin-left: 10px;
    vertical-align: bottom;
  }
  .delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }
  .delete-options {
    /* position: absolute; */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: 500;
  }
  
  .delete-options button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
  }
  

  #chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    max-width: 100%;
    margin: auto;
  }
  #message-input{
    width: 260px;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid rgb(160, 160, 160);
    outline: none;
  }
  #chat-input button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: black;
  }
  
 
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 5px 0;
  }
  
  audio{
    width: 100%;
  }
  #recording-status{
    padding-left: 5px;
    color: rgb(16, 65, 211);
    font-weight: 500px;
  }
  .chatting-actions{
    width: 100%;
    background-color: rebeccapurple;
  }

  section{
    max-width: 100%;
    margin: auto;
  }