body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background: #030d1c;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    max-width: 90%;
    margin: 10px auto;
}
.back{
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
h2{
    font-size: 2rem;
    text-align: center;
}
.profile-body{
    max-width: 40%;
    margin: 8% auto;
}
.profile-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.create-inputs div{
    margin: 10px;
}
.create-inputs input{
    font-size: 17px;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(194, 193, 193);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width:400px;
    background: none;
    color: white;
}
.create-inputs input:focus{
    border-bottom: 1px solid rgb(43, 88, 223);
    border-top: none;
    border-left: none;
    border-right: none;
}
button{
    background-color: #4576d3;
    padding: 20px;
    border:none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    float: right;
    color: white;
    cursor: pointer;
}
.position{
    position: absolute;bottom:0%;right: 0%;font-size: 30px;color: #ffffff;background-color: #4576d3;padding: 2px 3px;border-radius: 50px;
}
.img-con{
    position: relative;
}
@media screen and (max-width: 431px) {
    .profile-container{
        display: block;
        
        align-items: center;
        gap: 20px;
    }
    .create-inputs input{
        font-size: 17px;
        padding: 10px 0px;
        border-bottom: 1px solid rgb(194, 193, 193);
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        width:100%;
        background: none;
        color: white;
    }
    section{
        max-width: 90%;
        margin: 35px auto;
    }
    .profile-body{
        max-width: 100%;
        margin: 10% auto;
    }
    h2{
        font-size: 1.50rem;
        text-align: center;
    }
    .create-inputs{
        margin-top:30px;
    }
    .position{
    position: absolute;bottom:-8%;right:80%;font-size: 30px;color: #ffffff;background-color: #4576d3;padding: 2px 3px;border-radius: 50px;
    }
    .img-con{
        position: relative;
    }

}